<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Task</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>
<body>
    <div th:replace="~{navbar.html}"></div>
    <h1>Edit Task</h1>
    <form th:action="@{/tasks/edit/{id}(id=${task.id})}" method="post">
        <label>Title: </label>
        <input type="text" name="title" th:value="${task.title}"/><br>
        <label>Description: </label>
        <input type="text" name="description" th:value="${task.description}"/><br>
        <label>Deadline: </label>
        <input type="text" name="deadline" th:value="${task.deadline}"/><br>
        <label>Status: </label>
        <input type="text" name="status" th:value="${task.status}"/><br>
        <label>User: 
            <select name="userId">
                <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.name}" th:selected="${user.id} == ${task.user.id}"></option>
            </select>
        </label><br>
        <button type="submit">Update</button>
    </form>
</body>
</html>
